# Part 1: ETL
## World Happiness Report 2016 - 2020

In [2]:
import pandas as pd
import os
from sqlalchemy import create_engine

# EXTRACT
Store datasets into DataFrames

### Dataset 1: 2020
 - Webscrape from Wikipedia
 - Store webscraped data into DataFrame

In [3]:
# 2020 table:
url = 'https://en.wikipedia.org/wiki/World_Happiness_Report#2020_report'

In [4]:
tables = pd.read_html(url)
tables

[                                        Descriptions
 0  The 2020 World Happiness Report, released on M...,
                                         Descriptions
 0  The 2019 World Happiness Report focuses commun...,
                                         Descriptions
 0  The 2018 iteration was released on 20 March an...,
                                         Descriptions
 0  The fifth World Happiness Report emphasizes th...,
                                         Descriptions
 0  The 2016 World Happiness Report -Rome Addition...,
                                         Descriptions
 0  The 2015 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2013 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2012 World Happiness Report was issued at ...,
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 150                                                149
 151                                                150
 152                                                151
 153                                                152
 154                                                153

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.809           1.285           1.500
 3                     Denmark      7.646           1.327           1.503
 4                 Switzerland      7.560           1.391           1.472
 ..                        ...        ...             ...             ...
 150  Central African Republic      3.476           0.041           0.000
 151                    Rwanda      3.312           0.343           0.523
 152                  Zimbabwe      3.299           0.426           1.048
 153               South Sudan      2.817           0.289           0.553
 154               Afghanistan      2.567           0.301           0.356

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.961                         0.662       0.160
 3                      0.979                         0.665       0.243
 4                      1.041                         0.629       0.269
 ..                       ...                           ...         ...
 150                    0.000                         0.293       0.254
 151                    0.572                         0.604       0.236
 152                    0.375                         0.377       0.151
 153                    0.209                         0.066       0.210
 154                    0.266                         0.000       0.135

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.478
 3                        0.495
 4                        0.408
 ..                         ...
 150                      0.028
 151                      0.486
 152                      0.081
 153                      0.111
 154                      0.001

 [155 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.809           1.285
 1               2                   Denmark  7.646           1.327
 2               3               Switzerland  7.560           1.391
 3               4                   Iceland  7.504           1.327
 4               5                    Norway  7.488           1.424
 ..            ...                       ...    ...             ...
 148           149  Central African Republic  3.476           0.041
 149           150                    Rwanda  3.312           0.343
 150           151                  Zimbabwe  3.299           0.426
 151           152               South Sudan  2.817           0.289
 152           153               Afghanistan  2.567           0.301

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.500                    0.961                         0.662
 1             1.503                    0.979                         0.665
 2             1.472                    1.041                         0.629
 3             1.548                    1.001                         0.662
 4             1.495                    1.008                         0.670
 ..              ...                      ...                           ...
 148           0.000                    0.000                         0.293
 149           0.523                    0.572                         0.604
 150           1.048                    0.375                         0.377
 151           0.553                    0.209                         0.066
 152           0.356                    0.266                         0.000

      Generosity  Perceptions of corruption
 0         0.160                      0.478
 1         0.243                      0.495
 2         0.269                      0.408
 3         0.362                      0.145
 4         0.288                      0.434
 ..          ...                        ...
 148       0.254                      0.028
 149       0.236                      0.486
 150       0.151                      0.081
 151       0.210                      0.111
 152       0.135                      0.001

 [153 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.769           1.340           1.587
 3                     Denmark      7.600           1.383           1.573
 4                      Norway      7.554           1.488           1.582
 ..                        ...        ...             ...             ...
 153                    Rwanda      3.334           0.359           0.711
 154                  Tanzania      3.231           0.476           0.885
 155               Afghanistan      3.203           0.350           0.517
 156  Central African Republic      3.083           0.026           0.000
 157               South Sudan      2.853           0.306           0.575

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.986                         0.596       0.153
 3                      0.996                         0.592       0.252
 4                      1.028                         0.603       0.271
 ..                       ...                           ...         ...
 153                    0.614                         0.555       0.217
 154                    0.499                         0.417       0.276
 155                    0.361                         0.000       0.158
 156                    0.105                         0.225       0.235
 157                    0.295                         0.010       0.202

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.410
 4                        0.341
 ..                         ...
 153                      0.411
 154                      0.147
 155                      0.025
 156                      0.035
 157                      0.091

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption
 0         0.153                      0.393
 1         0.252                      0.410
 2         0.271                      0.341
 3         0.354                      0.118
 4         0.322                      0.298
 ..          ...                        ...
 151       0.217                      0.411
 152       0.276                      0.147
 153       0.158                      0.025
 154       0.235                      0.035
 155       0.202                      0.091

 [156 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.632           1.305           1.592
 3                      Norway      7.594           1.456           1.582
 4                     Denmark      7.555           1.351           1.590
 ..                        ...        ...             ...             ...
 153                     Yemen      3.355           0.442           1.073
 154                  Tanzania      3.303           0.455           0.991
 155               South Sudan      3.254           0.337           0.608
 156  Central African Republic      3.083           0.024           0.000
 157                   Burundi      2.905           0.091           0.627

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.874                         0.681       0.202
 3                      0.861                         0.686       0.286
 4                      0.868                         0.683       0.284
 ..                       ...                           ...         ...
 153                    0.343                         0.244       0.083
 154                    0.381                         0.481       0.270
 155                    0.177                         0.112       0.224
 156                    0.010                         0.305       0.218
 157                    0.145                         0.065       0.149

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.340
 4                        0.408
 ..                         ...
 153                      0.064
 154                      0.097
 155                      0.106
 156                      0.038
 157                      0.076

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption
 0         0.202                      0.393
 1         0.286                      0.340
 2         0.284                      0.408
 3         0.353                      0.138
 4         0.256                      0.357
 ..          ...                        ...
 151       0.083                      0.064
 152       0.270                      0.097
 153       0.224                      0.106
 154       0.218                      0.038
 155       0.149                      0.076

 [156 rows x 9 columns],
                                                  Table      Unnamed: 1  \
 0    Table of data for 2017:[48] Overall Rank Chang...             NaN
 1                                         Overall Rank  Change in rank
 2                                                    1               3
 3                                                    2               1
 4                                                    3             NaN
 ..                                                 ...             ...
 154                                                151               1
 155                                                152               4
 156                                                153               4
 157                                                154               3
 158                                                155             NaN

                    Unnamed: 2 Unnamed: 3       Unnamed: 4      Unnamed: 5  \
 0                         NaN        NaN              NaN             NaN
 1                     Country      Score  Change in score  GDP per capita
 2                      Norway      7.537            0.039           1.616
 3                     Denmark      7.522            0.004           1.482
 4                     Iceland      7.504            0.003           1.481
 ..                        ...        ...              ...             ...
 154                    Rwanda      3.471            0.044           0.369
 155                     Syria      3.462            0.393           0.777
 156                  Tanzania      3.349            0.317           0.511
 157                   Burundi      2.905              NaN           0.092
 158  Central African Republic      2.693              NaN           0.000

          Unnamed: 6               Unnamed: 7                    Unnamed: 8  \
 0               NaN                      NaN                           NaN
 1    Social support  Healthy life expectancy  Freedom to make life choices
 2             1.534                    0.797                         0.635
 3             1.551                    0.793                         0.626
 4             1.611                    0.834                         0.627
 ..              ...                      ...                           ...
 154           0.946                    0.326                         0.582
 155           0.396                    0.501                         0.082
 156           1.042                    0.365                         0.390
 157           0.630                    0.152                         0.060
 158           0.000                    0.019                         0.271

      Unnamed: 9 Unnamed: 10 Unnamed: 11
 0           NaN         NaN         NaN
 1    Generosity       Trust    Residual
 2         0.362       0.316       2.277
 3         0.355       0.401       2.314
 4         0.476       0.154       2.323
 ..          ...         ...         ...
 154       0.253       0.455       0.540
 155       0.494       0.151       1.062
 156       0.354       0.066       0.621
 157       0.204       0.084       1.683
 158       0.281       0.057       2.066

 [159 rows x 12 columns],
     Overall Rank Change in rank                   Country  Score  \
 0              1              3                    Norway  7.537
 1              2              1                   Denmark  7.522
 2              3            NaN                   Iceland  7.504
 3              4              2               Switzerland  7.494
 4              5            NaN                   Finland  7.469
 ..           ...            ...                       ...    ...

In [5]:
df2020_raw = tables[9]
df2020_raw.head(200)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.809,1.285,1.500,0.961,0.662,0.160,0.478
1,2,Denmark,7.646,1.327,1.503,0.979,0.665,0.243,0.495
2,3,Switzerland,7.560,1.391,1.472,1.041,0.629,0.269,0.408
3,4,Iceland,7.504,1.327,1.548,1.001,0.662,0.362,0.145
4,5,Norway,7.488,1.424,1.495,1.008,0.670,0.288,0.434
...,...,...,...,...,...,...,...,...,...
148,149,Central African Republic,3.476,0.041,0.000,0.000,0.293,0.254,0.028
149,150,Rwanda,3.312,0.343,0.523,0.572,0.604,0.236,0.486
150,151,Zimbabwe,3.299,0.426,1.048,0.375,0.377,0.151,0.081
151,152,South Sudan,2.817,0.289,0.553,0.209,0.066,0.210,0.111
152,153,Afghanistan,2.567,0.301,0.356,0.266,0.000,0.135,0.001

### Dataset 2: 2019
 - Webscrape from Wikipedia
 - Store webscraped data into DataFrame

In [6]:
# 2019 table:
url = 'https://en.wikipedia.org/wiki/World_Happiness_Report#2019_report'

In [7]:
tables = pd.read_html(url)
tables

[                                        Descriptions
 0  The 2020 World Happiness Report, released on M...,
                                         Descriptions
 0  The 2019 World Happiness Report focuses commun...,
                                         Descriptions
 0  The 2018 iteration was released on 20 March an...,
                                         Descriptions
 0  The fifth World Happiness Report emphasizes th...,
                                         Descriptions
 0  The 2016 World Happiness Report -Rome Addition...,
                                         Descriptions
 0  The 2015 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2013 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2012 World Happiness Report was issued at ...,
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 150                                                149
 151                                                150
 152                                                151
 153                                                152
 154                                                153

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.809           1.285           1.500
 3                     Denmark      7.646           1.327           1.503
 4                 Switzerland      7.560           1.391           1.472
 ..                        ...        ...             ...             ...
 150  Central African Republic      3.476           0.041           0.000
 151                    Rwanda      3.312           0.343           0.523
 152                  Zimbabwe      3.299           0.426           1.048
 153               South Sudan      2.817           0.289           0.553
 154               Afghanistan      2.567           0.301           0.356

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.961                         0.662       0.160
 3                      0.979                         0.665       0.243
 4                      1.041                         0.629       0.269
 ..                       ...                           ...         ...
 150                    0.000                         0.293       0.254
 151                    0.572                         0.604       0.236
 152                    0.375                         0.377       0.151
 153                    0.209                         0.066       0.210
 154                    0.266                         0.000       0.135

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.478
 3                        0.495
 4                        0.408
 ..                         ...
 150                      0.028
 151                      0.486
 152                      0.081
 153                      0.111
 154                      0.001

 [155 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.809           1.285
 1               2                   Denmark  7.646           1.327
 2               3               Switzerland  7.560           1.391
 3               4                   Iceland  7.504           1.327
 4               5                    Norway  7.488           1.424
 ..            ...                       ...    ...             ...
 148           149  Central African Republic  3.476           0.041
 149           150                    Rwanda  3.312           0.343
 150           151                  Zimbabwe  3.299           0.426
 151           152               South Sudan  2.817           0.289
 152           153               Afghanistan  2.567           0.301

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.500                    0.961                         0.662
 1             1.503                    0.979                         0.665
 2             1.472                    1.041                         0.629
 3             1.548                    1.001                         0.662
 4             1.495                    1.008                         0.670
 ..              ...                      ...                           ...
 148           0.000                    0.000                         0.293
 149           0.523                    0.572                         0.604
 150           1.048                    0.375                         0.377
 151           0.553                    0.209                         0.066
 152           0.356                    0.266                         0.000

      Generosity  Perceptions of corruption
 0         0.160                      0.478
 1         0.243                      0.495
 2         0.269                      0.408
 3         0.362                      0.145
 4         0.288                      0.434
 ..          ...                        ...
 148       0.254                      0.028
 149       0.236                      0.486
 150       0.151                      0.081
 151       0.210                      0.111
 152       0.135                      0.001

 [153 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.769           1.340           1.587
 3                     Denmark      7.600           1.383           1.573
 4                      Norway      7.554           1.488           1.582
 ..                        ...        ...             ...             ...
 153                    Rwanda      3.334           0.359           0.711
 154                  Tanzania      3.231           0.476           0.885
 155               Afghanistan      3.203           0.350           0.517
 156  Central African Republic      3.083           0.026           0.000
 157               South Sudan      2.853           0.306           0.575

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.986                         0.596       0.153
 3                      0.996                         0.592       0.252
 4                      1.028                         0.603       0.271
 ..                       ...                           ...         ...
 153                    0.614                         0.555       0.217
 154                    0.499                         0.417       0.276
 155                    0.361                         0.000       0.158
 156                    0.105                         0.225       0.235
 157                    0.295                         0.010       0.202

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.410
 4                        0.341
 ..                         ...
 153                      0.411
 154                      0.147
 155                      0.025
 156                      0.035
 157                      0.091

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption
 0         0.153                      0.393
 1         0.252                      0.410
 2         0.271                      0.341
 3         0.354                      0.118
 4         0.322                      0.298
 ..          ...                        ...
 151       0.217                      0.411
 152       0.276                      0.147
 153       0.158                      0.025
 154       0.235                      0.035
 155       0.202                      0.091

 [156 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.632           1.305           1.592
 3                      Norway      7.594           1.456           1.582
 4                     Denmark      7.555           1.351           1.590
 ..                        ...        ...             ...             ...
 153                     Yemen      3.355           0.442           1.073
 154                  Tanzania      3.303           0.455           0.991
 155               South Sudan      3.254           0.337           0.608
 156  Central African Republic      3.083           0.024           0.000
 157                   Burundi      2.905           0.091           0.627

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.874                         0.681       0.202
 3                      0.861                         0.686       0.286
 4                      0.868                         0.683       0.284
 ..                       ...                           ...         ...
 153                    0.343                         0.244       0.083
 154                    0.381                         0.481       0.270
 155                    0.177                         0.112       0.224
 156                    0.010                         0.305       0.218
 157                    0.145                         0.065       0.149

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.340
 4                        0.408
 ..                         ...
 153                      0.064
 154                      0.097
 155                      0.106
 156                      0.038
 157                      0.076

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption
 0         0.202                      0.393
 1         0.286                      0.340
 2         0.284                      0.408
 3         0.353                      0.138
 4         0.256                      0.357
 ..          ...                        ...
 151       0.083                      0.064
 152       0.270                      0.097
 153       0.224                      0.106
 154       0.218                      0.038
 155       0.149                      0.076

 [156 rows x 9 columns],
                                                  Table      Unnamed: 1  \
 0    Table of data for 2017:[48] Overall Rank Chang...             NaN
 1                                         Overall Rank  Change in rank
 2                                                    1               3
 3                                                    2               1
 4                                                    3             NaN
 ..                                                 ...             ...
 154                                                151               1
 155                                                152               4
 156                                                153               4
 157                                                154               3
 158                                                155             NaN

                    Unnamed: 2 Unnamed: 3       Unnamed: 4      Unnamed: 5  \
 0                         NaN        NaN              NaN             NaN
 1                     Country      Score  Change in score  GDP per capita
 2                      Norway      7.537            0.039           1.616
 3                     Denmark      7.522            0.004           1.482
 4                     Iceland      7.504            0.003           1.481
 ..                        ...        ...              ...             ...
 154                    Rwanda      3.471            0.044           0.369
 155                     Syria      3.462            0.393           0.777
 156                  Tanzania      3.349            0.317           0.511
 157                   Burundi      2.905              NaN           0.092
 158  Central African Republic      2.693              NaN           0.000

          Unnamed: 6               Unnamed: 7                    Unnamed: 8  \
 0               NaN                      NaN                           NaN
 1    Social support  Healthy life expectancy  Freedom to make life choices
 2             1.534                    0.797                         0.635
 3             1.551                    0.793                         0.626
 4             1.611                    0.834                         0.627
 ..              ...                      ...                           ...
 154           0.946                    0.326                         0.582
 155           0.396                    0.501                         0.082
 156           1.042                    0.365                         0.390
 157           0.630                    0.152                         0.060
 158           0.000                    0.019                         0.271

      Unnamed: 9 Unnamed: 10 Unnamed: 11
 0           NaN         NaN         NaN
 1    Generosity       Trust    Residual
 2         0.362       0.316       2.277
 3         0.355       0.401       2.314
 4         0.476       0.154       2.323
 ..          ...         ...         ...
 154       0.253       0.455       0.540
 155       0.494       0.151       1.062
 156       0.354       0.066       0.621
 157       0.204       0.084       1.683
 158       0.281       0.057       2.066

 [159 rows x 12 columns],
     Overall Rank Change in rank                   Country  Score  \
 0              1              3                    Norway  7.537
 1              2              1                   Denmark  7.522
 2              3            NaN                   Iceland  7.504
 3              4              2               Switzerland  7.494
 4              5            NaN                   Finland  7.469
 ..           ...            ...                       ...    ...

In [8]:
df2019_raw = tables[11]
df2019_raw.head(200)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

### Dataset 3: 2018
 - Webscrape from Wikipedia
 - Store webscraped data into DataFrame

In [9]:
# 2018 table:
url = 'https://en.wikipedia.org/wiki/World_Happiness_Report#2018_report'

In [10]:
tables = pd.read_html(url)
tables

[                                        Descriptions
 0  The 2020 World Happiness Report, released on M...,
                                         Descriptions
 0  The 2019 World Happiness Report focuses commun...,
                                         Descriptions
 0  The 2018 iteration was released on 20 March an...,
                                         Descriptions
 0  The fifth World Happiness Report emphasizes th...,
                                         Descriptions
 0  The 2016 World Happiness Report -Rome Addition...,
                                         Descriptions
 0  The 2015 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2013 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2012 World Happiness Report was issued at ...,
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 150                                                149
 151                                                150
 152                                                151
 153                                                152
 154                                                153

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.809           1.285           1.500
 3                     Denmark      7.646           1.327           1.503
 4                 Switzerland      7.560           1.391           1.472
 ..                        ...        ...             ...             ...
 150  Central African Republic      3.476           0.041           0.000
 151                    Rwanda      3.312           0.343           0.523
 152                  Zimbabwe      3.299           0.426           1.048
 153               South Sudan      2.817           0.289           0.553
 154               Afghanistan      2.567           0.301           0.356

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.961                         0.662       0.160
 3                      0.979                         0.665       0.243
 4                      1.041                         0.629       0.269
 ..                       ...                           ...         ...
 150                    0.000                         0.293       0.254
 151                    0.572                         0.604       0.236
 152                    0.375                         0.377       0.151
 153                    0.209                         0.066       0.210
 154                    0.266                         0.000       0.135

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.478
 3                        0.495
 4                        0.408
 ..                         ...
 150                      0.028
 151                      0.486
 152                      0.081
 153                      0.111
 154                      0.001

 [155 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.809           1.285
 1               2                   Denmark  7.646           1.327
 2               3               Switzerland  7.560           1.391
 3               4                   Iceland  7.504           1.327
 4               5                    Norway  7.488           1.424
 ..            ...                       ...    ...             ...
 148           149  Central African Republic  3.476           0.041
 149           150                    Rwanda  3.312           0.343
 150           151                  Zimbabwe  3.299           0.426
 151           152               South Sudan  2.817           0.289
 152           153               Afghanistan  2.567           0.301

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.500                    0.961                         0.662
 1             1.503                    0.979                         0.665
 2             1.472                    1.041                         0.629
 3             1.548                    1.001                         0.662
 4             1.495                    1.008                         0.670
 ..              ...                      ...                           ...
 148           0.000                    0.000                         0.293
 149           0.523                    0.572                         0.604
 150           1.048                    0.375                         0.377
 151           0.553                    0.209                         0.066
 152           0.356                    0.266                         0.000

      Generosity  Perceptions of corruption
 0         0.160                      0.478
 1         0.243                      0.495
 2         0.269                      0.408
 3         0.362                      0.145
 4         0.288                      0.434
 ..          ...                        ...
 148       0.254                      0.028
 149       0.236                      0.486
 150       0.151                      0.081
 151       0.210                      0.111
 152       0.135                      0.001

 [153 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.769           1.340           1.587
 3                     Denmark      7.600           1.383           1.573
 4                      Norway      7.554           1.488           1.582
 ..                        ...        ...             ...             ...
 153                    Rwanda      3.334           0.359           0.711
 154                  Tanzania      3.231           0.476           0.885
 155               Afghanistan      3.203           0.350           0.517
 156  Central African Republic      3.083           0.026           0.000
 157               South Sudan      2.853           0.306           0.575

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.986                         0.596       0.153
 3                      0.996                         0.592       0.252
 4                      1.028                         0.603       0.271
 ..                       ...                           ...         ...
 153                    0.614                         0.555       0.217
 154                    0.499                         0.417       0.276
 155                    0.361                         0.000       0.158
 156                    0.105                         0.225       0.235
 157                    0.295                         0.010       0.202

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.410
 4                        0.341
 ..                         ...
 153                      0.411
 154                      0.147
 155                      0.025
 156                      0.035
 157                      0.091

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption
 0         0.153                      0.393
 1         0.252                      0.410
 2         0.271                      0.341
 3         0.354                      0.118
 4         0.322                      0.298
 ..          ...                        ...
 151       0.217                      0.411
 152       0.276                      0.147
 153       0.158                      0.025
 154       0.235                      0.035
 155       0.202                      0.091

 [156 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.632           1.305           1.592
 3                      Norway      7.594           1.456           1.582
 4                     Denmark      7.555           1.351           1.590
 ..                        ...        ...             ...             ...
 153                     Yemen      3.355           0.442           1.073
 154                  Tanzania      3.303           0.455           0.991
 155               South Sudan      3.254           0.337           0.608
 156  Central African Republic      3.083           0.024           0.000
 157                   Burundi      2.905           0.091           0.627

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.874                         0.681       0.202
 3                      0.861                         0.686       0.286
 4                      0.868                         0.683       0.284
 ..                       ...                           ...         ...
 153                    0.343                         0.244       0.083
 154                    0.381                         0.481       0.270
 155                    0.177                         0.112       0.224
 156                    0.010                         0.305       0.218
 157                    0.145                         0.065       0.149

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.340
 4                        0.408
 ..                         ...
 153                      0.064
 154                      0.097
 155                      0.106
 156                      0.038
 157                      0.076

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption
 0         0.202                      0.393
 1         0.286                      0.340
 2         0.284                      0.408
 3         0.353                      0.138
 4         0.256                      0.357
 ..          ...                        ...
 151       0.083                      0.064
 152       0.270                      0.097
 153       0.224                      0.106
 154       0.218                      0.038
 155       0.149                      0.076

 [156 rows x 9 columns],
                                                  Table      Unnamed: 1  \
 0    Table of data for 2017:[48] Overall Rank Chang...             NaN
 1                                         Overall Rank  Change in rank
 2                                                    1               3
 3                                                    2               1
 4                                                    3             NaN
 ..                                                 ...             ...
 154                                                151               1
 155                                                152               4
 156                                                153               4
 157                                                154               3
 158                                                155             NaN

                    Unnamed: 2 Unnamed: 3       Unnamed: 4      Unnamed: 5  \
 0                         NaN        NaN              NaN             NaN
 1                     Country      Score  Change in score  GDP per capita
 2                      Norway      7.537            0.039           1.616
 3                     Denmark      7.522            0.004           1.482
 4                     Iceland      7.504            0.003           1.481
 ..                        ...        ...              ...             ...
 154                    Rwanda      3.471            0.044           0.369
 155                     Syria      3.462            0.393           0.777
 156                  Tanzania      3.349            0.317           0.511
 157                   Burundi      2.905              NaN           0.092
 158  Central African Republic      2.693              NaN           0.000

          Unnamed: 6               Unnamed: 7                    Unnamed: 8  \
 0               NaN                      NaN                           NaN
 1    Social support  Healthy life expectancy  Freedom to make life choices
 2             1.534                    0.797                         0.635
 3             1.551                    0.793                         0.626
 4             1.611                    0.834                         0.627
 ..              ...                      ...                           ...
 154           0.946                    0.326                         0.582
 155           0.396                    0.501                         0.082
 156           1.042                    0.365                         0.390
 157           0.630                    0.152                         0.060
 158           0.000                    0.019                         0.271

      Unnamed: 9 Unnamed: 10 Unnamed: 11
 0           NaN         NaN         NaN
 1    Generosity       Trust    Residual
 2         0.362       0.316       2.277
 3         0.355       0.401       2.314
 4         0.476       0.154       2.323
 ..          ...         ...         ...
 154       0.253       0.455       0.540
 155       0.494       0.151       1.062
 156       0.354       0.066       0.621
 157       0.204       0.084       1.683
 158       0.281       0.057       2.066

 [159 rows x 12 columns],
     Overall Rank Change in rank                   Country  Score  \
 0              1              3                    Norway  7.537
 1              2              1                   Denmark  7.522
 2              3            NaN                   Iceland  7.504
 3              4              2               Switzerland  7.494
 4              5            NaN                   Finland  7.469
 ..           ...            ...                       ...    ...

In [11]:
df2018_raw = tables[13]
df2018_raw.head(200)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

### Dataset 4: 2017
 - Webscrape from Wikipedia
 - Store webscraped data into DataFrame

In [12]:
# 2017 table:
url = 'https://en.wikipedia.org/wiki/World_Happiness_Report#2017_report'

In [13]:
tables = pd.read_html(url)
tables

[                                        Descriptions
 0  The 2020 World Happiness Report, released on M...,
                                         Descriptions
 0  The 2019 World Happiness Report focuses commun...,
                                         Descriptions
 0  The 2018 iteration was released on 20 March an...,
                                         Descriptions
 0  The fifth World Happiness Report emphasizes th...,
                                         Descriptions
 0  The 2016 World Happiness Report -Rome Addition...,
                                         Descriptions
 0  The 2015 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2013 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2012 World Happiness Report was issued at ...,
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 150                                                149
 151                                                150
 152                                                151
 153                                                152
 154                                                153

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.809           1.285           1.500
 3                     Denmark      7.646           1.327           1.503
 4                 Switzerland      7.560           1.391           1.472
 ..                        ...        ...             ...             ...
 150  Central African Republic      3.476           0.041           0.000
 151                    Rwanda      3.312           0.343           0.523
 152                  Zimbabwe      3.299           0.426           1.048
 153               South Sudan      2.817           0.289           0.553
 154               Afghanistan      2.567           0.301           0.356

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.961                         0.662       0.160
 3                      0.979                         0.665       0.243
 4                      1.041                         0.629       0.269
 ..                       ...                           ...         ...
 150                    0.000                         0.293       0.254
 151                    0.572                         0.604       0.236
 152                    0.375                         0.377       0.151
 153                    0.209                         0.066       0.210
 154                    0.266                         0.000       0.135

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.478
 3                        0.495
 4                        0.408
 ..                         ...
 150                      0.028
 151                      0.486
 152                      0.081
 153                      0.111
 154                      0.001

 [155 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.809           1.285
 1               2                   Denmark  7.646           1.327
 2               3               Switzerland  7.560           1.391
 3               4                   Iceland  7.504           1.327
 4               5                    Norway  7.488           1.424
 ..            ...                       ...    ...             ...
 148           149  Central African Republic  3.476           0.041
 149           150                    Rwanda  3.312           0.343
 150           151                  Zimbabwe  3.299           0.426
 151           152               South Sudan  2.817           0.289
 152           153               Afghanistan  2.567           0.301

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.500                    0.961                         0.662
 1             1.503                    0.979                         0.665
 2             1.472                    1.041                         0.629
 3             1.548                    1.001                         0.662
 4             1.495                    1.008                         0.670
 ..              ...                      ...                           ...
 148           0.000                    0.000                         0.293
 149           0.523                    0.572                         0.604
 150           1.048                    0.375                         0.377
 151           0.553                    0.209                         0.066
 152           0.356                    0.266                         0.000

      Generosity  Perceptions of corruption
 0         0.160                      0.478
 1         0.243                      0.495
 2         0.269                      0.408
 3         0.362                      0.145
 4         0.288                      0.434
 ..          ...                        ...
 148       0.254                      0.028
 149       0.236                      0.486
 150       0.151                      0.081
 151       0.210                      0.111
 152       0.135                      0.001

 [153 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.769           1.340           1.587
 3                     Denmark      7.600           1.383           1.573
 4                      Norway      7.554           1.488           1.582
 ..                        ...        ...             ...             ...
 153                    Rwanda      3.334           0.359           0.711
 154                  Tanzania      3.231           0.476           0.885
 155               Afghanistan      3.203           0.350           0.517
 156  Central African Republic      3.083           0.026           0.000
 157               South Sudan      2.853           0.306           0.575

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.986                         0.596       0.153
 3                      0.996                         0.592       0.252
 4                      1.028                         0.603       0.271
 ..                       ...                           ...         ...
 153                    0.614                         0.555       0.217
 154                    0.499                         0.417       0.276
 155                    0.361                         0.000       0.158
 156                    0.105                         0.225       0.235
 157                    0.295                         0.010       0.202

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.410
 4                        0.341
 ..                         ...
 153                      0.411
 154                      0.147
 155                      0.025
 156                      0.035
 157                      0.091

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption
 0         0.153                      0.393
 1         0.252                      0.410
 2         0.271                      0.341
 3         0.354                      0.118
 4         0.322                      0.298
 ..          ...                        ...
 151       0.217                      0.411
 152       0.276                      0.147
 153       0.158                      0.025
 154       0.235                      0.035
 155       0.202                      0.091

 [156 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.632           1.305           1.592
 3                      Norway      7.594           1.456           1.582
 4                     Denmark      7.555           1.351           1.590
 ..                        ...        ...             ...             ...
 153                     Yemen      3.355           0.442           1.073
 154                  Tanzania      3.303           0.455           0.991
 155               South Sudan      3.254           0.337           0.608
 156  Central African Republic      3.083           0.024           0.000
 157                   Burundi      2.905           0.091           0.627

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.874                         0.681       0.202
 3                      0.861                         0.686       0.286
 4                      0.868                         0.683       0.284
 ..                       ...                           ...         ...
 153                    0.343                         0.244       0.083
 154                    0.381                         0.481       0.270
 155                    0.177                         0.112       0.224
 156                    0.010                         0.305       0.218
 157                    0.145                         0.065       0.149

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.340
 4                        0.408
 ..                         ...
 153                      0.064
 154                      0.097
 155                      0.106
 156                      0.038
 157                      0.076

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption
 0         0.202                      0.393
 1         0.286                      0.340
 2         0.284                      0.408
 3         0.353                      0.138
 4         0.256                      0.357
 ..          ...                        ...
 151       0.083                      0.064
 152       0.270                      0.097
 153       0.224                      0.106
 154       0.218                      0.038
 155       0.149                      0.076

 [156 rows x 9 columns],
                                                  Table      Unnamed: 1  \
 0    Table of data for 2017:[48] Overall Rank Chang...             NaN
 1                                         Overall Rank  Change in rank
 2                                                    1               3
 3                                                    2               1
 4                                                    3             NaN
 ..                                                 ...             ...
 154                                                151               1
 155                                                152               4
 156                                                153               4
 157                                                154               3
 158                                                155             NaN

                    Unnamed: 2 Unnamed: 3       Unnamed: 4      Unnamed: 5  \
 0                         NaN        NaN              NaN             NaN
 1                     Country      Score  Change in score  GDP per capita
 2                      Norway      7.537            0.039           1.616
 3                     Denmark      7.522            0.004           1.482
 4                     Iceland      7.504            0.003           1.481
 ..                        ...        ...              ...             ...
 154                    Rwanda      3.471            0.044           0.369
 155                     Syria      3.462            0.393           0.777
 156                  Tanzania      3.349            0.317           0.511
 157                   Burundi      2.905              NaN           0.092
 158  Central African Republic      2.693              NaN           0.000

          Unnamed: 6               Unnamed: 7                    Unnamed: 8  \
 0               NaN                      NaN                           NaN
 1    Social support  Healthy life expectancy  Freedom to make life choices
 2             1.534                    0.797                         0.635
 3             1.551                    0.793                         0.626
 4             1.611                    0.834                         0.627
 ..              ...                      ...                           ...
 154           0.946                    0.326                         0.582
 155           0.396                    0.501                         0.082
 156           1.042                    0.365                         0.390
 157           0.630                    0.152                         0.060
 158           0.000                    0.019                         0.271

      Unnamed: 9 Unnamed: 10 Unnamed: 11
 0           NaN         NaN         NaN
 1    Generosity       Trust    Residual
 2         0.362       0.316       2.277
 3         0.355       0.401       2.314
 4         0.476       0.154       2.323
 ..          ...         ...         ...
 154       0.253       0.455       0.540
 155       0.494       0.151       1.062
 156       0.354       0.066       0.621
 157       0.204       0.084       1.683
 158       0.281       0.057       2.066

 [159 rows x 12 columns],
     Overall Rank Change in rank                   Country  Score  \
 0              1              3                    Norway  7.537
 1              2              1                   Denmark  7.522
 2              3            NaN                   Iceland  7.504
 3              4              2               Switzerland  7.494
 4              5            NaN                   Finland  7.469
 ..           ...            ...                       ...    ...

In [14]:
df2017_raw = tables[15]
df2017_raw.head(200)

,Overall Rank,Change in rank,Country,Score,Change in score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust,Residual
0,1,3,Norway,7.537,0.039,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,1,Denmark,7.522,0.004,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,NaN,Iceland,7.504,0.003,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,2,Switzerland,7.494,0.015,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,5,NaN,Finland,7.469,0.056,1.444,1.540,0.809,0.618,0.245,0.383,2.430
...,...,...,...,...,...,...,...,...,...,...,...,...
152,151,1,Rwanda,3.471,0.044,0.369,0.946,0.326,0.582,0.253,0.455,0.540
153,152,4,Syria,3.462,0.393,0.777,0.396,0.501,0.082,0.494,0.151,1.062
154,153,4,Tanzania,3.349,0.317,0.511,1.042,0.365,0.390,0.354,0.066,0.621
155,154,3,Burundi,2.905,NaN,0.092,0.630,0.152,0.060,0.204,0.084,1.683
156,155,NaN,Central African Republic,2.693,NaN,0.000,0.000,0.019,0.271,0.281,0.057,2.066

### Dataset 5: 2016
 - Webscrape from Wikipedia
 - Store webscraped data into DataFrame

In [15]:
# 2016 table:
url = 'https://en.wikipedia.org/wiki/World_Happiness_Report#2016_report'

In [16]:
tables = pd.read_html(url)
tables

[                                        Descriptions
 0  The 2020 World Happiness Report, released on M...,
                                         Descriptions
 0  The 2019 World Happiness Report focuses commun...,
                                         Descriptions
 0  The 2018 iteration was released on 20 March an...,
                                         Descriptions
 0  The fifth World Happiness Report emphasizes th...,
                                         Descriptions
 0  The 2016 World Happiness Report -Rome Addition...,
                                         Descriptions
 0  The 2015 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2013 World Happiness Report has eight chap...,
                                         Descriptions
 0  The 2012 World Happiness Report was issued at ...,
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 150                                                149
 151                                                150
 152                                                151
 153                                                152
 154                                                153

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.809           1.285           1.500
 3                     Denmark      7.646           1.327           1.503
 4                 Switzerland      7.560           1.391           1.472
 ..                        ...        ...             ...             ...
 150  Central African Republic      3.476           0.041           0.000
 151                    Rwanda      3.312           0.343           0.523
 152                  Zimbabwe      3.299           0.426           1.048
 153               South Sudan      2.817           0.289           0.553
 154               Afghanistan      2.567           0.301           0.356

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.961                         0.662       0.160
 3                      0.979                         0.665       0.243
 4                      1.041                         0.629       0.269
 ..                       ...                           ...         ...
 150                    0.000                         0.293       0.254
 151                    0.572                         0.604       0.236
 152                    0.375                         0.377       0.151
 153                    0.209                         0.066       0.210
 154                    0.266                         0.000       0.135

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.478
 3                        0.495
 4                        0.408
 ..                         ...
 150                      0.028
 151                      0.486
 152                      0.081
 153                      0.111
 154                      0.001

 [155 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.809           1.285
 1               2                   Denmark  7.646           1.327
 2               3               Switzerland  7.560           1.391
 3               4                   Iceland  7.504           1.327
 4               5                    Norway  7.488           1.424
 ..            ...                       ...    ...             ...
 148           149  Central African Republic  3.476           0.041
 149           150                    Rwanda  3.312           0.343
 150           151                  Zimbabwe  3.299           0.426
 151           152               South Sudan  2.817           0.289
 152           153               Afghanistan  2.567           0.301

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.500                    0.961                         0.662
 1             1.503                    0.979                         0.665
 2             1.472                    1.041                         0.629
 3             1.548                    1.001                         0.662
 4             1.495                    1.008                         0.670
 ..              ...                      ...                           ...
 148           0.000                    0.000                         0.293
 149           0.523                    0.572                         0.604
 150           1.048                    0.375                         0.377
 151           0.553                    0.209                         0.066
 152           0.356                    0.266                         0.000

      Generosity  Perceptions of corruption
 0         0.160                      0.478
 1         0.243                      0.495
 2         0.269                      0.408
 3         0.362                      0.145
 4         0.288                      0.434
 ..          ...                        ...
 148       0.254                      0.028
 149       0.236                      0.486
 150       0.151                      0.081
 151       0.210                      0.111
 152       0.135                      0.001

 [153 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.769           1.340           1.587
 3                     Denmark      7.600           1.383           1.573
 4                      Norway      7.554           1.488           1.582
 ..                        ...        ...             ...             ...
 153                    Rwanda      3.334           0.359           0.711
 154                  Tanzania      3.231           0.476           0.885
 155               Afghanistan      3.203           0.350           0.517
 156  Central African Republic      3.083           0.026           0.000
 157               South Sudan      2.853           0.306           0.575

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.986                         0.596       0.153
 3                      0.996                         0.592       0.252
 4                      1.028                         0.603       0.271
 ..                       ...                           ...         ...
 153                    0.614                         0.555       0.217
 154                    0.499                         0.417       0.276
 155                    0.361                         0.000       0.158
 156                    0.105                         0.225       0.235
 157                    0.295                         0.010       0.202

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.410
 4                        0.341
 ..                         ...
 153                      0.411
 154                      0.147
 155                      0.025
 156                      0.035
 157                      0.091

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.769           1.340
 1               2                   Denmark  7.600           1.383
 2               3                    Norway  7.554           1.488
 3               4                   Iceland  7.494           1.380
 4               5               Netherlands  7.488           1.396
 ..            ...                       ...    ...             ...
 151           152                    Rwanda  3.334           0.359
 152           153                  Tanzania  3.231           0.476
 153           154               Afghanistan  3.203           0.350
 154           155  Central African Republic  3.083           0.026
 155           156               South Sudan  2.853           0.306

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.587                    0.986                         0.596
 1             1.573                    0.996                         0.592
 2             1.582                    1.028                         0.603
 3             1.624                    1.026                         0.591
 4             1.522                    0.999                         0.557
 ..              ...                      ...                           ...
 151           0.711                    0.614                         0.555
 152           0.885                    0.499                         0.417
 153           0.517                    0.361                         0.000
 154           0.000                    0.105                         0.225
 155           0.575                    0.295                         0.010

      Generosity  Perceptions of corruption
 0         0.153                      0.393
 1         0.252                      0.410
 2         0.271                      0.341
 3         0.354                      0.118
 4         0.322                      0.298
 ..          ...                        ...
 151       0.217                      0.411
 152       0.276                      0.147
 153       0.158                      0.025
 154       0.235                      0.035
 155       0.202                      0.091

 [156 rows x 9 columns],
                                                  Table  \
 0    Overall rank Country or region Score GDP per c...
 1                                         Overall rank
 2                                                    1
 3                                                    2
 4                                                    3
 ..                                                 ...
 153                                                152
 154                                                153
 155                                                154
 156                                                155
 157                                                156

                    Unnamed: 1 Unnamed: 2      Unnamed: 3      Unnamed: 4  \
 0                         NaN        NaN             NaN             NaN
 1           Country or region      Score  GDP per capita  Social support
 2                     Finland      7.632           1.305           1.592
 3                      Norway      7.594           1.456           1.582
 4                     Denmark      7.555           1.351           1.590
 ..                        ...        ...             ...             ...
 153                     Yemen      3.355           0.442           1.073
 154                  Tanzania      3.303           0.455           0.991
 155               South Sudan      3.254           0.337           0.608
 156  Central African Republic      3.083           0.024           0.000
 157                   Burundi      2.905           0.091           0.627

                   Unnamed: 5                    Unnamed: 6  Unnamed: 7  \
 0                        NaN                           NaN         NaN
 1    Healthy life expectancy  Freedom to make life choices  Generosity
 2                      0.874                         0.681       0.202
 3                      0.861                         0.686       0.286
 4                      0.868                         0.683       0.284
 ..                       ...                           ...         ...
 153                    0.343                         0.244       0.083
 154                    0.381                         0.481       0.270
 155                    0.177                         0.112       0.224
 156                    0.010                         0.305       0.218
 157                    0.145                         0.065       0.149

                     Unnamed: 8
 0                          NaN
 1    Perceptions of corruption
 2                        0.393
 3                        0.340
 4                        0.408
 ..                         ...
 153                      0.064
 154                      0.097
 155                      0.106
 156                      0.038
 157                      0.076

 [158 rows x 9 columns],
      Overall rank         Country or region  Score  GDP per capita  \
 0               1                   Finland  7.632           1.305
 1               2                    Norway  7.594           1.456
 2               3                   Denmark  7.555           1.351
 3               4                   Iceland  7.495           1.343
 4               5               Switzerland  7.487           1.420
 ..            ...                       ...    ...             ...
 151           152                     Yemen  3.355           0.442
 152           153                  Tanzania  3.303           0.455
 153           154               South Sudan  3.254           0.337
 154           155  Central African Republic  3.083           0.024
 155           156                   Burundi  2.905           0.091

      Social support  Healthy life expectancy  Freedom to make life choices  \
 0             1.592                    0.874                         0.681
 1             1.582                    0.861                         0.686
 2             1.590                    0.868                         0.683
 3             1.644                    0.914                         0.677
 4             1.549                    0.927                         0.660
 ..              ...                      ...                           ...
 151           1.073                    0.343                         0.244
 152           0.991                    0.381                         0.481
 153           0.608                    0.177                         0.112
 154           0.000                    0.010                         0.305
 155           0.627                    0.145                         0.065

      Generosity  Perceptions of corruption
 0         0.202                      0.393
 1         0.286                      0.340
 2         0.284                      0.408
 3         0.353                      0.138
 4         0.256                      0.357
 ..          ...                        ...
 151       0.083                      0.064
 152       0.270                      0.097
 153       0.224                      0.106
 154       0.218                      0.038
 155       0.149                      0.076

 [156 rows x 9 columns],
                                                  Table      Unnamed: 1  \
 0    Table of data for 2017:[48] Overall Rank Chang...             NaN
 1                                         Overall Rank  Change in rank
 2                                                    1               3
 3                                                    2               1
 4                                                    3             NaN
 ..                                                 ...             ...
 154                                                151               1
 155                                                152               4
 156                                                153               4
 157                                                154               3
 158                                                155             NaN

                    Unnamed: 2 Unnamed: 3       Unnamed: 4      Unnamed: 5  \
 0                         NaN        NaN              NaN             NaN
 1                     Country      Score  Change in score  GDP per capita
 2                      Norway      7.537            0.039           1.616
 3                     Denmark      7.522            0.004           1.482
 4                     Iceland      7.504            0.003           1.481
 ..                        ...        ...              ...             ...
 154                    Rwanda      3.471            0.044           0.369
 155                     Syria      3.462            0.393           0.777
 156                  Tanzania      3.349            0.317           0.511
 157                   Burundi      2.905              NaN           0.092
 158  Central African Republic      2.693              NaN           0.000

          Unnamed: 6               Unnamed: 7                    Unnamed: 8  \
 0               NaN                      NaN                           NaN
 1    Social support  Healthy life expectancy  Freedom to make life choices
 2             1.534                    0.797                         0.635
 3             1.551                    0.793                         0.626
 4             1.611                    0.834                         0.627
 ..              ...                      ...                           ...
 154           0.946                    0.326                         0.582
 155           0.396                    0.501                         0.082
 156           1.042                    0.365                         0.390
 157           0.630                    0.152                         0.060
 158           0.000                    0.019                         0.271

      Unnamed: 9 Unnamed: 10 Unnamed: 11
 0           NaN         NaN         NaN
 1    Generosity       Trust    Residual
 2         0.362       0.316       2.277
 3         0.355       0.401       2.314
 4         0.476       0.154       2.323
 ..          ...         ...         ...
 154       0.253       0.455       0.540
 155       0.494       0.151       1.062
 156       0.354       0.066       0.621
 157       0.204       0.084       1.683
 158       0.281       0.057       2.066

 [159 rows x 12 columns],
     Overall Rank Change in rank                   Country  Score  \
 0              1              3                    Norway  7.537
 1              2              1                   Denmark  7.522
 2              3            NaN                   Iceland  7.504
 3              4              2               Switzerland  7.494
 4              5            NaN                   Finland  7.469
 ..           ...            ...                       ...    ...

In [17]:
df2016_raw = tables[18]
df2016_raw.head(200)

,Overall Rank[51][52],Country,Score,Change OverPrior Year,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust
0,1,Denmark,7.526,-0.401,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Switzerland,7.509,0.035,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Iceland,7.501,0.000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Norway,7.498,0.082,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Finland,7.413,-0.259,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
152,153,Benin,3.484,0.154,NaN,NaN,NaN,NaN,NaN,NaN
153,154,Afghanistan,3.360,0.000,NaN,NaN,NaN,NaN,NaN,NaN
154,155,Togo,3.303,0.100,NaN,NaN,NaN,NaN,NaN,NaN
155,156,Syria,3.069,0.000,NaN,NaN,NaN,NaN,NaN,NaN
156,157,Burundi,2.905,0.000,NaN,NaN,NaN,NaN,NaN,NaN

# TRANSFORM
Clean DataFrames

### Dataset 1-5
 - Create filtered database from specific columns
 - Rename column headers
 - Reset and rename index
 - Confirm values are numeric
 - Check for missing values
 - Sort by country name
 - Reorder columns

In [18]:
df2020_raw

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.809,1.285,1.500,0.961,0.662,0.160,0.478
1,2,Denmark,7.646,1.327,1.503,0.979,0.665,0.243,0.495
2,3,Switzerland,7.560,1.391,1.472,1.041,0.629,0.269,0.408
3,4,Iceland,7.504,1.327,1.548,1.001,0.662,0.362,0.145
4,5,Norway,7.488,1.424,1.495,1.008,0.670,0.288,0.434
...,...,...,...,...,...,...,...,...,...
148,149,Central African Republic,3.476,0.041,0.000,0.000,0.293,0.254,0.028
149,150,Rwanda,3.312,0.343,0.523,0.572,0.604,0.236,0.486
150,151,Zimbabwe,3.299,0.426,1.048,0.375,0.377,0.151,0.081
151,152,South Sudan,2.817,0.289,0.553,0.209,0.066,0.210,0.111
152,153,Afghanistan,2.567,0.301,0.356,0.266,0.000,0.135,0.001

In [19]:
df2020 = df2020_raw.rename(columns = {"Overall rank": "overall_rank", "Country or region": "country","Score": "score",\
                                      "GDP per capita": "gdp_per_capita", "Social support": "social_support",\
                                      "Healthy life expectancy": "healthy_life_expectancy", "Freedom to make life choices": "freedom_to_make_life_choices",\
                                      "Generosity": "generosity", "Perceptions of corruption": "perceptions_of_corruption"})
df2020.head()

,overall_rank,country,score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,Finland,7.809,1.285,1.500,0.961,0.662,0.160,0.478
1,2,Denmark,7.646,1.327,1.503,0.979,0.665,0.243,0.495
2,3,Switzerland,7.560,1.391,1.472,1.041,0.629,0.269,0.408
3,4,Iceland,7.504,1.327,1.548,1.001,0.662,0.362,0.145
4,5,Norway,7.488,1.424,1.495,1.008,0.670,0.288,0.434

In [20]:
df2020.columns

Index(['overall_rank', 'country', 'score', 'gdp_per_capita', 'social_support',
       'healthy_life_expectancy', 'freedom_to_make_life_choices', 'generosity',
       'perceptions_of_corruption'],
      dtype='object')

In [21]:
df2020 = df2020[["country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2020.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,7.809,1,1.285,1.500,0.961,0.662,0.160,0.478
1,Denmark,7.646,2,1.327,1.503,0.979,0.665,0.243,0.495
2,Switzerland,7.560,3,1.391,1.472,1.041,0.629,0.269,0.408
3,Iceland,7.504,4,1.327,1.548,1.001,0.662,0.362,0.145
4,Norway,7.488,5,1.424,1.495,1.008,0.670,0.288,0.434

In [22]:
df2020 = df2020.sort_values(by = 'country')
df2020.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
152,Afghanistan,2.567,153,0.301,0.356,0.266,0.000,0.135,0.001
104,Albania,4.883,105,0.907,0.830,0.846,0.462,0.171,0.025
99,Algeria,5.005,100,0.944,1.143,0.745,0.084,0.119,0.129
54,Argentina,5.975,55,1.028,1.373,0.850,0.521,0.070,0.060
115,Armenia,4.677,116,0.808,1.035,0.776,0.378,0.107,0.105

In [23]:
df2020 = df2020.reset_index(drop=True)
df2020.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,2.567,153,0.301,0.356,0.266,0.000,0.135,0.001
1,Albania,4.883,105,0.907,0.830,0.846,0.462,0.171,0.025
2,Algeria,5.005,100,0.944,1.143,0.745,0.084,0.119,0.129
3,Argentina,5.975,55,1.028,1.373,0.850,0.521,0.070,0.060
4,Armenia,4.677,116,0.808,1.035,0.776,0.378,0.107,0.105

In [24]:
df2020.index += 1; df2020.index.name='id'
df2020.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,
1,Afghanistan,2.567,153,0.301,0.356,0.266,0.000,0.135,0.001
2,Albania,4.883,105,0.907,0.830,0.846,0.462,0.171,0.025
3,Algeria,5.005,100,0.944,1.143,0.745,0.084,0.119,0.129
4,Argentina,5.975,55,1.028,1.373,0.850,0.521,0.070,0.060
5,Armenia,4.677,116,0.808,1.035,0.776,0.378,0.107,0.105

In [25]:
df2020['year']=2020

In [27]:
df2020 = df2020[["year", "country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2020.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,,
1,2020,Afghanistan,2.567,153,0.301,0.356,0.266,0.000,0.135,0.001
2,2020,Albania,4.883,105,0.907,0.830,0.846,0.462,0.171,0.025
3,2020,Algeria,5.005,100,0.944,1.143,0.745,0.084,0.119,0.129
4,2020,Argentina,5.975,55,1.028,1.373,0.850,0.521,0.070,0.060
5,2020,Armenia,4.677,116,0.808,1.035,0.776,0.378,0.107,0.105

In [29]:
df2020.dtypes

year                              int64
country                          object
score                           float64
overall_rank                      int64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [30]:
df2020.isna().sum()

year                            0
country                         0
score                           0
overall_rank                    0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       0
dtype: int64

In [31]:
df2019_raw

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298
...,...,...,...,...,...,...,...,...,...
151,152,Rwanda,3.334,0.359,0.711,0.614,0.555,0.217,0.411
152,153,Tanzania,3.231,0.476,0.885,0.499,0.417,0.276,0.147
153,154,Afghanistan,3.203,0.350,0.517,0.361,0.000,0.158,0.025
154,155,Central African Republic,3.083,0.026,0.000,0.105,0.225,0.235,0.035
155,156,South Sudan,2.853,0.306,0.575,0.295,0.010,0.202,0.091

In [32]:
df2019 = df2019_raw.rename(columns = {"Overall rank": "overall_rank", "Country or region": "country","Score": "score",\
                                      "GDP per capita": "gdp_per_capita", "Social support": "social_support",\
                                      "Healthy life expectancy": "healthy_life_expectancy", "Freedom to make life choices": "freedom_to_make_life_choices",\
                                      "Generosity": "generosity", "Perceptions of corruption": "perceptions_of_corruption"})
df2019.head()

,overall_rank,country,score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [33]:
df2019 = df2019[["country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2019.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,7.769,1,1.340,1.587,0.986,0.596,0.153,0.393
1,Denmark,7.600,2,1.383,1.573,0.996,0.592,0.252,0.410
2,Norway,7.554,3,1.488,1.582,1.028,0.603,0.271,0.341
3,Iceland,7.494,4,1.380,1.624,1.026,0.591,0.354,0.118
4,Netherlands,7.488,5,1.396,1.522,0.999,0.557,0.322,0.298

In [34]:
df2019 = df2019.sort_values(by = 'country')
df2019.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
153,Afghanistan,3.203,154,0.350,0.517,0.361,0.000,0.158,0.025
106,Albania,4.719,107,0.947,0.848,0.874,0.383,0.178,0.027
87,Algeria,5.211,88,1.002,1.160,0.785,0.086,0.073,0.114
46,Argentina,6.086,47,1.092,1.432,0.881,0.471,0.066,0.050
115,Armenia,4.559,116,0.850,1.055,0.815,0.283,0.095,0.064

In [35]:
df2019 = df2019.reset_index(drop=True)
df2019.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,3.203,154,0.350,0.517,0.361,0.000,0.158,0.025
1,Albania,4.719,107,0.947,0.848,0.874,0.383,0.178,0.027
2,Algeria,5.211,88,1.002,1.160,0.785,0.086,0.073,0.114
3,Argentina,6.086,47,1.092,1.432,0.881,0.471,0.066,0.050
4,Armenia,4.559,116,0.850,1.055,0.815,0.283,0.095,0.064

In [36]:
df2019.index += 1; df2019.index.name='id'
df2019.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,
1,Afghanistan,3.203,154,0.350,0.517,0.361,0.000,0.158,0.025
2,Albania,4.719,107,0.947,0.848,0.874,0.383,0.178,0.027
3,Algeria,5.211,88,1.002,1.160,0.785,0.086,0.073,0.114
4,Argentina,6.086,47,1.092,1.432,0.881,0.471,0.066,0.050
5,Armenia,4.559,116,0.850,1.055,0.815,0.283,0.095,0.064

In [37]:
df2019['year']=2019
df2019 = df2019[["year", "country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2019.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,,
1,2019,Afghanistan,3.203,154,0.350,0.517,0.361,0.000,0.158,0.025
2,2019,Albania,4.719,107,0.947,0.848,0.874,0.383,0.178,0.027
3,2019,Algeria,5.211,88,1.002,1.160,0.785,0.086,0.073,0.114
4,2019,Argentina,6.086,47,1.092,1.432,0.881,0.471,0.066,0.050
5,2019,Armenia,4.559,116,0.850,1.055,0.815,0.283,0.095,0.064

In [38]:
df2019.dtypes

year                              int64
country                          object
score                           float64
overall_rank                      int64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [39]:
df2019.isna().sum()

year                            0
country                         0
score                           0
overall_rank                    0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       0
dtype: int64

In [40]:
df2018_raw

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357
...,...,...,...,...,...,...,...,...,...
151,152,Yemen,3.355,0.442,1.073,0.343,0.244,0.083,0.064
152,153,Tanzania,3.303,0.455,0.991,0.381,0.481,0.270,0.097
153,154,South Sudan,3.254,0.337,0.608,0.177,0.112,0.224,0.106
154,155,Central African Republic,3.083,0.024,0.000,0.010,0.305,0.218,0.038
155,156,Burundi,2.905,0.091,0.627,0.145,0.065,0.149,0.076

In [41]:
df2018 = df2018_raw.rename(columns = {"Overall rank": "overall_rank", "Country or region": "country","Score": "score",\
                                      "GDP per capita": "gdp_per_capita", "Social support": "social_support",\
                                      "Healthy life expectancy": "healthy_life_expectancy", "Freedom to make life choices": "freedom_to_make_life_choices",\
                                      "Generosity": "generosity", "Perceptions of corruption": "perceptions_of_corruption"})
df2018.head()

,overall_rank,country,score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [42]:
df2018 = df2018[["country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2018.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Finland,7.632,1,1.305,1.592,0.874,0.681,0.202,0.393
1,Norway,7.594,2,1.456,1.582,0.861,0.686,0.286,0.340
2,Denmark,7.555,3,1.351,1.590,0.868,0.683,0.284,0.408
3,Iceland,7.495,4,1.343,1.644,0.914,0.677,0.353,0.138
4,Switzerland,7.487,5,1.420,1.549,0.927,0.660,0.256,0.357

In [43]:
df2018 = df2018.sort_values(by = 'country')
df2018.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
144,Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036
111,Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
83,Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
141,Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
28,Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054

In [44]:
df2018 = df2018.reset_index(drop=True)
df2018.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036
1,Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
2,Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
3,Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
4,Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054

In [45]:
df2018.index += 1; df2018.index.name='id'
df2018.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,
1,Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036
2,Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
3,Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
4,Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
5,Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054

In [46]:
df2018['year']=2018
df2018 = df2018[["year", "country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "perceptions_of_corruption"]].copy()
df2018.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
id,,,,,,,,,,
1,2018,Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036
2,2018,Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
3,2018,Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
4,2018,Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
5,2018,Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054

In [47]:
df2018.dtypes

year                              int64
country                          object
score                           float64
overall_rank                      int64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
perceptions_of_corruption       float64
dtype: object

In [48]:
df2018.isna().sum()

year                            0
country                         0
score                           0
overall_rank                    0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
perceptions_of_corruption       1
dtype: int64

In [49]:
df2017_raw

,Overall Rank,Change in rank,Country,Score,Change in score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust,Residual
0,1,3,Norway,7.537,0.039,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,1,Denmark,7.522,0.004,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,NaN,Iceland,7.504,0.003,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,2,Switzerland,7.494,0.015,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,5,NaN,Finland,7.469,0.056,1.444,1.540,0.809,0.618,0.245,0.383,2.430
...,...,...,...,...,...,...,...,...,...,...,...,...
152,151,1,Rwanda,3.471,0.044,0.369,0.946,0.326,0.582,0.253,0.455,0.540
153,152,4,Syria,3.462,0.393,0.777,0.396,0.501,0.082,0.494,0.151,1.062
154,153,4,Tanzania,3.349,0.317,0.511,1.042,0.365,0.390,0.354,0.066,0.621
155,154,3,Burundi,2.905,NaN,0.092,0.630,0.152,0.060,0.204,0.084,1.683
156,155,NaN,Central African Republic,2.693,NaN,0.000,0.000,0.019,0.271,0.281,0.057,2.066

In [50]:
df2017 = df2017_raw.rename(columns = {"Overall Rank": "overall_rank", "Country": "country","Score": "score",\
                                      "GDP per capita": "gdp_per_capita", "Social support": "social_support",\
                                      "Healthy life expectancy": "healthy_life_expectancy", "Freedom to make life choices": "freedom_to_make_life_choices",\
                                      "Generosity": "generosity", "Trust": "trust", "Residual": "residual"})
df2017.head()

,overall_rank,Change in rank,country,score,Change in score,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
0,1,3,Norway,7.537,0.039,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,2,1,Denmark,7.522,0.004,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,3,NaN,Iceland,7.504,0.003,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,4,2,Switzerland,7.494,0.015,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,5,NaN,Finland,7.469,0.056,1.444,1.540,0.809,0.618,0.245,0.383,2.430

In [51]:
df2017 = df2017[["country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "trust", "residual"]].copy()
df2017.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
0,Norway,7.537,1,1.616,1.534,0.797,0.635,0.362,0.316,2.277
1,Denmark,7.522,2,1.482,1.551,0.793,0.626,0.355,0.401,2.314
2,Iceland,7.504,3,1.481,1.611,0.834,0.627,0.476,0.154,2.323
3,Switzerland,7.494,4,1.565,1.517,0.858,0.620,0.291,0.367,2.277
4,Finland,7.469,5,1.444,1.540,0.809,0.618,0.245,0.383,2.430

In [52]:
df2017 = df2017.sort_values(by = 'country')
df2017.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
142,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
110,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
53,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
141,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
23,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [53]:
df2017 = df2017.reset_index(drop=True)
df2017.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
0,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
1,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
2,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
3,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
4,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [54]:
df2017.index += 1; df2017.index.name='id'
df2017.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,
1,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [55]:
df2017['year']=2017
df2017 = df2017[["year", "country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "trust", "residual"]].copy()
df2017.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,,
1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [56]:
df2017.dtypes

year                              int64
country                          object
score                            object
overall_rank                     object
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
trust                           float64
residual                        float64
dtype: object

In [57]:
df2017.head(200)

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,,
1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614
...,...,...,...,...,...,...,...,...,...,...,...
153,2017,Vietnam,5.074,94,0.789,1.277,0.652,0.571,0.235,0.088,1.462
154,2017,World,5.305[Note 2],—,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,2017,Yemen,3.593,146,0.592,0.935,0.310,0.249,0.104,0.057,1.346
156,2017,Zambia,4.514,116,0.636,1.003,0.258,0.462,0.250,0.078,1.827
157,2017,Zimbabwe,3.875,138,0.376,1.083,0.197,0.336,0.189,0.095,1.598

In [58]:
df2017 = df2017.drop([154])
df2017.head(200)

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,,
1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614
...,...,...,...,...,...,...,...,...,...,...,...
152,2017,Venezuela,5.250,82,1.128,1.431,0.617,0.154,0.065,0.064,1.789
153,2017,Vietnam,5.074,94,0.789,1.277,0.652,0.571,0.235,0.088,1.462
155,2017,Yemen,3.593,146,0.592,0.935,0.310,0.249,0.104,0.057,1.346
156,2017,Zambia,4.514,116,0.636,1.003,0.258,0.462,0.250,0.078,1.827
157,2017,Zimbabwe,3.875,138,0.376,1.083,0.197,0.336,0.189,0.095,1.598

In [59]:
df2017 = df2017.drop([45])
df2017.head(50)

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,,
1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614
6,2017,Armenia,4.376,121,0.901,1.007,0.638,0.198,0.083,0.027,1.521
7,2017,Australia,7.284,9,1.484,1.510,0.844,0.602,0.478,0.301,2.065
8,2017,Austria,7.006,13,1.487,1.460,0.815,0.568,0.316,0.221,2.139
9,2017,Azerbaijan,7.342,85,1.154,1.152,0.541,0.398,0.045,0.181,1.762
10,2017,Bahrain,6.087,41,1.488,1.323,0.653,0.537,0.173,0.257,1.656
11,2017,Bangladesh,4.608,110,0.587,0.735,0.533,0.478,0.172,0.124,1.979
12,2017,Belarus,5.569,67,1.157,1.445,0.638,0.295,0.155,0.156,1.723
13,2017,Belgium,6.891,17,1.464,1.462,0.818,0.540,0.232,0.251,2.124
14,2017,Belize,5.956,50,0.908,1.081,0.450,0.548,0.240,0.097,2.632
15,2017,Benin,3.657,143,0.431,0.435,0.210,0.426,0.208,0.061,1.886
16,2017,Bhutan,5.011,97,0.885,1.340,0.496,0.502,0.474,0.173,1.140
17,2017,Bolivia,5.823,58,0.834,1.228,0.474,0.559,0.226,0.060,2.443
18,2017,Bosnia and Herzegovina,5.182,90,0.982,1.069,0.705,0.204,0.329,0.000,1.892
19,2017,Botswana,3.766,142,1.122,1.222,0.342,0.505,0.099,0.099,0.378
20,2017,Brazil,6.635,22,1.107,1.431,0.617,0.437,0.162,0.111,2.769
21,2017,Bulgaria,4.714,105,1.161,1.434,0.708,0.289,0.113,0.011,0.996
22,2017,Burkina Faso,4.032,134,0.350,1.043,0.216,0.324,0.251,0.120,1.727
23,2017,Burundi,2.905,154,0.092,0.630,0.152,0.060,0.204,0.084,1.683
24,2017,Cambodia,4.168,129,0.602,1.006,0.430,0.633,0.386,0.068,1.043
25,2017,Cameroon,4.695,107,0.564,0.946,0.133,0.430,0.236,0.051,2.334
26,2017,Canada,7.316,7,1.479,1.481,0.835,0.611,0.436,0.287,2.187
27,2017,Central African Republic,2.693,155,0.000,0.000,0.019,0.271,0.281,0.057,2.066
28,2017,Chad,3.936,137,0.438,0.954,0.041,0.162,0.216,0.054,2.071
29,2017,Chile,6.652,20,1.253,1.284,0.819,0.377,0.327,0.082,2.510
30,2017,China,5.273,79,1.081,1.161,0.741,0.473,0.029,0.023,1.765
31,2017,Colombia,6.357,36,1.071,1.402,0.595,0.477,0.149,0.047,2.616
32,2017,Congo (Brazzaville),4.291,124,0.809,0.832,0.290,0.435,0.121,0.080,1.724
33,2017,Congo (Kinshasa),4.280,126,0.092,1.229,0.191,0.236,0.246,0.060,2.225
34,2017,Costa Rica,7.079,12,1.110,1.416,0.760,0.580,0.215,0.100,2.899
35,2017,Croatia,5.293,77,1.223,0.968,0.701,0.256,0.248,0.043,1.854
36,2017,Cyprus,5.621,65,1.356,1.131,0.845,0.355,0.271,0.041,1.621
37,2017,Czech Republic,6.609,23,1.353,1.434,0.754,0.491,0.088,0.037,2.452
38,2017,Denmark,7.522,2,1.482,1.551,0.793,0.626,0.355,0.401,2.314
39,2017,Dominican Republic,5.230,86,1.079,1.402,0.575,0.553,0.187,0.114,1.319
40,2017,Ecuador,6.008,44,1.001,1.286,0.686,0.455,0.150,0.140,2.290
41,2017,Egypt,4.735,104,0.990,0.997,0.520,0.282,0.129,0.114,1.702
42,2017,El Salvador,6.003,45,0.910,1.182,0.596,0.432,0.078,0.090,2.715
43,2017,Estonia,5.611,66,1.321,1.477,0.695,0.479,0.099,0.183,1.358
44,2017,Ethiopia,4.460,119,0.339,0.865,0.353,0.409,0.313,0.165,2.016
46,2017,Finland,7.469,5,1.444,1.540,0.809,0.618,0.245,0.383,2.430
47,2017,France,6.442,31,1.431,1.388,0.844,0.470,0.130,0.173,2.006
48,2017,Gabon,4.465,118,1.198,1.156,0.357,0.312,0.044,0.076,1.323
49,2017,Georgia,4.286,125,0.951,0.571,0.650,0.309,0.054,0.252,1.500
50,2017,Germany,6.951,16,1.488,1.473,0.799,0.563,0.336,0.277,2.016
51,2017,Ghana,4.120,131,0.667,0.874,0.296,0.423,0.257,0.025,1.578

In [60]:
df2017['overall_rank'] = pd.to_numeric(df2017['overall_rank'])
print(df2017.dtypes)

year                              int64
country                          object
score                            object
overall_rank                      int64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
trust                           float64
residual                        float64
dtype: object

In [61]:
df2017 = df2017.reset_index(drop=True)
df2017.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
0,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
1,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
2,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
3,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
4,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [62]:
df2017.index += 1; df2017.index.name='id'
df2017.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
id,,,,,,,,,,,
1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [63]:
df2017.isna().sum()

year                            0
country                         0
score                           0
overall_rank                    0
gdp_per_capita                  0
social_support                  0
healthy_life_expectancy         0
freedom_to_make_life_choices    0
generosity                      0
trust                           0
residual                        0
dtype: int64

In [64]:
df2016_raw

,Overall Rank[51][52],Country,Score,Change OverPrior Year,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Trust
0,1,Denmark,7.526,-0.401,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Switzerland,7.509,0.035,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Iceland,7.501,0.000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Norway,7.498,0.082,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Finland,7.413,-0.259,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
152,153,Benin,3.484,0.154,NaN,NaN,NaN,NaN,NaN,NaN
153,154,Afghanistan,3.360,0.000,NaN,NaN,NaN,NaN,NaN,NaN
154,155,Togo,3.303,0.100,NaN,NaN,NaN,NaN,NaN,NaN
155,156,Syria,3.069,0.000,NaN,NaN,NaN,NaN,NaN,NaN
156,157,Burundi,2.905,0.000,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
df2016 = df2016_raw.rename(columns = {"Overall Rank[51][52]": "overall_rank", "Country": "country","Score": "score",\
                                      "GDP per capita": "gdp_per_capita", "Social support": "social_support",\
                                      "Healthy life expectancy": "healthy_life_expectancy", "Freedom to make life choices": "freedom_to_make_life_choices",\
                                      "Generosity": "generosity", "Trust": "trust"})
df2016.head()

,overall_rank,country,score,Change OverPrior Year,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
0,1,Denmark,7.526,-0.401,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Switzerland,7.509,0.035,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Iceland,7.501,0.000,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Norway,7.498,0.082,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Finland,7.413,-0.259,NaN,NaN,NaN,NaN,NaN,NaN

In [66]:
df2016 = df2016[["country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "trust"]].copy()
df2016.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
0,Denmark,7.526,1,NaN,NaN,NaN,NaN,NaN,NaN
1,Switzerland,7.509,2,NaN,NaN,NaN,NaN,NaN,NaN
2,Iceland,7.501,3,NaN,NaN,NaN,NaN,NaN,NaN
3,Norway,7.498,4,NaN,NaN,NaN,NaN,NaN,NaN
4,Finland,7.413,5,NaN,NaN,NaN,NaN,NaN,NaN

In [67]:
df2016 = df2016.sort_values(by = 'country')
df2016.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
153,Afghanistan,3.360,154,NaN,NaN,NaN,NaN,NaN,NaN
108,Albania,4.655,109,NaN,NaN,NaN,NaN,NaN,NaN
37,Algeria,6.355,38,NaN,NaN,NaN,NaN,NaN,NaN
140,Angola,3.866,141,NaN,NaN,NaN,NaN,NaN,NaN
25,Argentina,6.650,26,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df2016 = df2016.reset_index(drop=True)
df2016.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
0,Afghanistan,3.360,154,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,4.655,109,NaN,NaN,NaN,NaN,NaN,NaN
2,Algeria,6.355,38,NaN,NaN,NaN,NaN,NaN,NaN
3,Angola,3.866,141,NaN,NaN,NaN,NaN,NaN,NaN
4,Argentina,6.650,26,NaN,NaN,NaN,NaN,NaN,NaN

In [69]:
df2016.index += 1; df2016.index.name='id'
df2016.head()

,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
id,,,,,,,,,
1,Afghanistan,3.360,154,NaN,NaN,NaN,NaN,NaN,NaN
2,Albania,4.655,109,NaN,NaN,NaN,NaN,NaN,NaN
3,Algeria,6.355,38,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,3.866,141,NaN,NaN,NaN,NaN,NaN,NaN
5,Argentina,6.650,26,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
df2016['year']=2016
df2016 = df2016[["year", "country", "score", "overall_rank", "gdp_per_capita", "social_support",\
                "healthy_life_expectancy", "freedom_to_make_life_choices", "generosity", "trust"]].copy()
df2016.head()

,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
id,,,,,,,,,,
1,2016,Afghanistan,3.360,154,NaN,NaN,NaN,NaN,NaN,NaN
2,2016,Albania,4.655,109,NaN,NaN,NaN,NaN,NaN,NaN
3,2016,Algeria,6.355,38,NaN,NaN,NaN,NaN,NaN,NaN
4,2016,Angola,3.866,141,NaN,NaN,NaN,NaN,NaN,NaN
5,2016,Argentina,6.650,26,NaN,NaN,NaN,NaN,NaN,NaN

In [71]:
df2016.dtypes

year                              int64
country                          object
score                           float64
overall_rank                      int64
gdp_per_capita                  float64
social_support                  float64
healthy_life_expectancy         float64
freedom_to_make_life_choices    float64
generosity                      float64
trust                           float64
dtype: object

In [72]:
df2016.isna().sum()

year                              0
country                           0
score                             0
overall_rank                      0
gdp_per_capita                  157
social_support                  157
healthy_life_expectancy         157
freedom_to_make_life_choices    157
generosity                      157
trust                           157
dtype: int64

# LOAD
Load DataFrames into database

In [81]:
rds_connection_string = "postgres:postgres@localhost:5432/whr_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [82]:
engine.table_names()

['whr2017', 'whr2020', 'whr2019', 'whr2018', 'whr2016']

In [83]:
df2020.to_sql(name='whr2020', con=engine, if_exists='append', index=True)

In [84]:
df2019.to_sql(name='whr2019', con=engine, if_exists='append', index=True)

In [85]:
df2018.to_sql(name='whr2018', con=engine, if_exists='append', index=True)

In [86]:
df2017.to_sql(name='whr2017', con=engine, if_exists='append', index=True)

In [87]:
df2016.to_sql(name='whr2016', con=engine, if_exists='append', index=True)

In [88]:
pd.read_sql_query('SELECT * FROM whr2020', con=engine).head()

,id,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,2020,Afghanistan,2.567,153,0.301,0.356,0.266,0.000,0.135,0.001
1,2,2020,Albania,4.883,105,0.907,0.830,0.846,0.462,0.171,0.025
2,3,2020,Algeria,5.005,100,0.944,1.143,0.745,0.084,0.119,0.129
3,4,2020,Argentina,5.975,55,1.028,1.373,0.850,0.521,0.070,0.060
4,5,2020,Armenia,4.677,116,0.808,1.035,0.776,0.378,0.107,0.105

In [89]:
pd.read_sql_query('SELECT * FROM whr2019', con=engine).head()

,id,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,2019,Afghanistan,3.203,154,0.350,0.517,0.361,0.000,0.158,0.025
1,2,2019,Albania,4.719,107,0.947,0.848,0.874,0.383,0.178,0.027
2,3,2019,Algeria,5.211,88,1.002,1.160,0.785,0.086,0.073,0.114
3,4,2019,Argentina,6.086,47,1.092,1.432,0.881,0.471,0.066,0.050
4,5,2019,Armenia,4.559,116,0.850,1.055,0.815,0.283,0.095,0.064

In [90]:
pd.read_sql_query('SELECT * FROM whr2018', con=engine).head()

,id,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,perceptions_of_corruption
0,1,2018,Afghanistan,3.632,145,0.332,0.537,0.255,0.085,0.191,0.036
1,2,2018,Albania,4.586,112,0.916,0.817,0.790,0.419,0.149,0.032
2,3,2018,Algeria,5.295,84,0.979,1.154,0.687,0.077,0.055,0.135
3,4,2018,Angola,3.795,142,0.730,1.125,0.269,0.000,0.079,0.061
4,5,2018,Argentina,6.388,29,1.073,1.468,0.744,0.570,0.062,0.054

In [91]:
pd.read_sql_query('SELECT * FROM whr2017', con=engine).head()

,id,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust,residual
0,1,2017,Afghanistan,3.794,141,0.401,0.582,0.181,0.106,0.312,0.061,2.151
1,2,2017,Albania,4.644,109,0.996,0.804,0.731,0.381,0.201,0.040,1.490
2,3,2017,Algeria,5.872,53,1.092,1.146,0.618,0.233,0.069,0.146,2.568
3,4,2017,Angola,3.795,140,0.858,1.104,0.050,0.000,0.098,0.070,1.614
4,5,2017,Argentina,6.599,24,1.185,1.440,0.695,0.495,0.109,0.060,2.614

In [92]:
pd.read_sql_query('SELECT * FROM whr2016', con=engine).head()

,id,year,country,score,overall_rank,gdp_per_capita,social_support,healthy_life_expectancy,freedom_to_make_life_choices,generosity,trust
0,1,2016,Afghanistan,3.360,154,None,None,None,None,None,None
1,2,2016,Albania,4.655,109,None,None,None,None,None,None
2,3,2016,Algeria,6.355,38,None,None,None,None,None,None
3,4,2016,Angola,3.866,141,None,None,None,None,None,None
4,5,2016,Argentina,6.650,26,None,None,None,None,None,None